@font-face {
  font-family: 'sfprodisplay';
  src: url("../fonts/SFProDisplay-Regular.ttf");
}

* {
  font-family: 'sfprodisplay';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

hr {
  border-top: 1px solid #37A9D9;
}

.logo--small {
  max-height: 75px;
}

.nav__text--blue {
  letter-spacing: 0.75px;
  color: #37A9D9 !important;
  font-weight: bold;
  font-size: 0.8rem;
}

.color--blue {
  color: #37A9D9 !important;
}

.color--grey {
  color: #797676;
}

.hero__text {
  margin-top: 2rem;
}

.hero__text2 {
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
}

.tentangkami__rectangle {
  width: fit-content;
  height: fit-content;
  background-color: #37A9D9;
  border-radius: 5px;
  padding: 25px 15px 25px 15px;
  color: white;
  transform: translate(-35px, -175px);
}

.tentangkami__text--blue {
  color: #37A9D9;
  font-size: 2rem;
}

.tentangkami__text--detail {
  font-size: 0.7rem;
}

.tentangkami__tagline {
  color: #37A9D9;
  font-style: italic;
}

.produklayanan__text--detail {
  color: #797676;
}

.button__produklayanan {
  width: 250px;
  height: 68px;
  padding: 10px 20px 10px 20px;
  color: #37A9D9;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  background-clip: border-box;
}

.button__produklayanan--text {
  width: 50%;
}

.button__produklayanan:hover {
  color: white;
  background-color: #37A9D9;
}

.portofolio {
  color: white;
}

.portofolio__judul {
  font-size: 2rem;
  color: white;
}

.portofolio__rectangle {
  background-color: white;
  width: 350px;
  height: 350px;
  overflow-y: hidden;
  margin: 0 15px 0 15px;
}

.beritaterkini__text--big {
  font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.beritaterkini__text--small {
  font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.contact__text {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  align-items: center;
}

.button__portofolio {
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  background-color: white;
  color: #37A9D9;
}

.produkdanlayanan__rectangle {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.produkdanlayanan__rectangle--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produkdanlayanan__text--tahun {
  font-size: small;
}

#produklayanan {
  background-color: #F2F2F2;
  padding-bottom: 100px;
}

#portofolio {
  background-color: #37A9D9;
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer {
  background-color: #37A9D9;
  color: white;
  padding: 20px 0 20px 0;
  font-size: calc(11px + (15 - 11) * ((100vw - 320px) / (1600 - 320)));
}

.herorm__img {
  background-image: url("../img/layanan/Infrastruktur Radio.png");
  background-position: center center;
  background-size: cover;
}

.heroso__img {
  background-image: url("../img/layanan/Infrastruktur Fiber.png");
  background-position: center center;
  background-size: cover;
}

.heroiot__img {
  background-image: url("../img/layanan/iot.png");
  background-position: center center;
  background-size: cover;
}

.heroenergi__img {
  background-image: url("../img/layanan/energi.png");
  background-position: center center;
  background-size: cover;
}

.heroaktivasikonten__img {
  background-image: url("../img/layanan/aktivasikonten.png");
  background-position: center center;
  background-size: cover;
}

.heroaktivasikonten__img--text {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.heroblockchain__img {
  background-image: url("../img/layanan/blockchain.png");
  background-position: center center;
  background-size: cover;
}

.heroxl__img {
  background-image: url("../img/portofolio/xlaxiata.png");
  background-position: center center;
  background-size: cover;
}

.herotelkomsel__img {
  background-image: url("../img/portofolio/telkomsel.png");
  background-position: center center;
  background-size: cover;
}

.herosistercompany__img {
  background-image: url("../img/portofolio/sistercompany.png");
  background-position: center center;
  background-size: cover;
}

.herotedx__img {
  background-image: url("../img/portofolio/tedx.png");
  background-position: center center;
  background-size: cover;
}

.herooverdoze__img {
  background-image: url("../img/portofolio/overdoze.png");
  max-height: 699px;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

.herowilwatikta__img {
  background-image: url("../img/portofolio/wilwatikta.png");
  background-position: center center;
  background-size: cover;
}

.heroace__img {
  background-image: url("../img/portofolio/ace.png");
  background-position: center center;
  background-size: cover;
}

.herojanjijiwa__img {
  background-image: url("../img/portofolio/janjijiwa.png");
  background-position: center center;
  background-size: cover;
}

#explanationrm {
  margin-bottom: 100px;
}

.explanationrm__text--judul {
  font-size: 1.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

a {
  color: black !important;
}
/*# sourceMappingURL=styles.css.map */